/* Write your CSS code here */

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 200px;
  border-radius: 50px;
}
.name-heading {
  color: #12022f;
  font-size: 20px;
}
.role {
  color: #616e7c;
  font-size: 20px;
}
